{% extends 'pattern.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h2>Super Sprinter 3000</h2>
    <p><a class="btn_green" href="/story">Add new User Story</a></p>
    {% if user_stories|length > 0 %}
        <table>
            <tr>
                <th>ID</th>
                <th>Story Title</th>
                <th>User Story</th>
                <th>Acceptance Criteria</th>
                <th>Business Value</th>
                <th>Estimation</th>
                <th>Status</th>
            </tr>
            {% for story in user_stories %}
                <tr>
                    <td>{{ story['id'] }}.</td>
                    <td>{{ story['title'] }}<br>
                        <a class="btn_blue" href="/story/{{ story['id'] }}">Update</a>
                        <a class="btn_red" href="/delete/{{ story['id'] }}"
                           onclick="return confirm('Do you want to delete User Story with ID: {{ story['id'] }}?');">Delete</a>
                    </td>
                    <td>{{ story['user_story']|safe }}</td>
                    <td>{{ story['acceptance_criteria']|safe }}</td>
                    <td>{{ story['business_value'] }}</td>
                    <td>{{ story['estimation'] }}</td>
                    <td>{{ story['status'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no stories to display.</p>
    {% endif %}
{% endblock %}
