{% extends 'pattern.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h2 class="title">Super Sprinter 3000</h2>
    <p><a class="btn_green" href="/story">Add new User Story</a></p>
    {% if user_stories|length > 0 %}
        <table class="center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Story Title</th>
                    <th>User Story</th>
                    <th>Acceptance Criteria</th>
                    <th>Business Value</th>
                    <th>Estimation</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for story in user_stories %}
                <tr>
                    <td>{{ story['id'] }}.</td>
                    <td class="txt_left">{{ story['title'] }}<br>
                        <a class="btn_blue" href="/story/{{ story['id'] }}">Update</a>
                        <a class="btn_red" href="/delete/{{ story['id'] }}"
                           onclick="return confirm('Do you want to delete User Story with ID: {{ story['id'] }}?');">Delete</a>
                    </td>
                    <td class="txt_left">{{ story['user_story'] }}</td>
                    <td class="txt_left">{{ story['acceptance_criteria'] }}</td>
                    <td class="txt_center">{{ story['business_value'] }} point</td>
                    <td>{{ story['estimation'] }}h</td>
                    <td>{{ story['status'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no stories to display.</p>
    {% endif %}
{% endblock %}
